* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'FondFamily', 'public sans', sans-serif; 
    margin: 0;
    font-size: 18px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    border: none;
}
.content {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
@media (min-width: 786px) {
    .content {
        width: 686px;
    }
}
@media (min-width: 992px) {
    .content {
        width: 892px;
    }
}
@media (min-width: 1200px) {
    .content {
        width: 1100x;
    }
}
/* start header */
@media (min-width: 786px) {
    header .content .head nav ul {
        width: 350px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .content .head .menu-btn {
        display: none;
    }
}
@media (max-width: 992px) {
    header .content .head .but_header {
        display: none;
    }
}
@media (max-width: 786px) {
    header .content .head nav {
        display: none;
    }
}
header {
    background-color: #fff;
    padding: 20px;
}
header .content .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .content .head .menu-btn {
    background-color: transparent;
}
header .content .head .menu-btn img {
    width: 30px;
}
header .content .head .but_header {
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(200deg, hsl(136, 64%, 51%) , hsl(192, 69%, 51%));
}
/* end header */